In [1]:
import yfinance as yf

In [2]:
AAPL_history = yf.Ticker('AAPL').history(interval='1h', start='2024-01-01', end='2024-03-01')

In [5]:
AAPL_history

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-01-02 09:30:00-05:00,187.149994,188.440002,186.009995,186.189896,21173291,0.0,0.0
2024-01-02 10:30:00-05:00,186.179993,186.904999,185.184296,186.804993,9010595,0.0,0.0
2024-01-02 11:30:00-05:00,186.800003,187.350006,186.570007,186.615005,6143754,0.0,0.0
2024-01-02 12:30:00-05:00,186.615005,187.039993,185.259995,185.294998,5381701,0.0,0.0
2024-01-02 13:30:00-05:00,185.289993,185.539993,184.229996,184.494995,7228643,0.0,0.0
...,...,...,...,...,...,...,...
2024-02-29 11:30:00-05:00,180.425003,180.429993,179.529999,179.820007,8149732,0.0,0.0
2024-02-29 12:30:00-05:00,179.820007,180.800003,179.649994,180.380005,7795890,0.0,0.0
2024-02-29 13:30:00-05:00,180.380005,180.490005,179.679993,180.110001,6547702,0.0,0.0
2024-02-29 14:30:00-05:00,180.119995,180.699997,179.860001,180.585007,6246756,0.0,0.0
2024-02-29 15:30:00-05:00,180.585007,181.110001,179.570007,180.770004,13220925,0.0,0.0

In [7]:
AAPL = yf.Ticker('AAPL')

AAPL.options

('2024-05-10',
 '2024-05-17',
 '2024-05-24',
 '2024-05-31',
 '2024-06-07',
 '2024-06-14',
 '2024-06-21',
 '2024-07-19',
 '2024-08-16',
 '2024-09-20',
 '2024-10-18',
 '2024-11-15',
 '2024-12-20',
 '2025-01-17',
 '2025-03-21',
 '2025-06-20',
 '2025-09-19',
 '2025-12-19',
 '2026-01-16',
 '2026-06-18',
 '2026-12-18')